
<div class="content" role="main">
  
  <!-- Banco -->
  <img src="/assets/banco.png" alt="" width="280.678" height="200.678">
  <h2>B A N C O</h2>

  <div class="card-container">   
    <a class="card" target="_blank" rel="noopener" (click)="addClient()">
      <span>Crear Cliente</span>
    </a>
    <a class="card" target="_blank" rel="noopener" (click)="addBankAccount()">
      <span>Crear Cuenta</span>
    </a>      
  </div>

  <div>
    <a class="button" routerLink="/login" routerLinkActive="activebutton">Login</a>
  </div>

</div>


